*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.wrapper{
    max-width: 1626px;
    width: 100%;
    margin: auto;
    display: flex;
}
.nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #00000029 0 3px 6px;
}
.nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 136px;
    margin-left: 136px;
}
.nav__logo{
    display: flex;
    color: #08A6E4;
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.nav__logo h1{

}
.nav__menu{
    display: flex;
}
.nav__menu ul{
    width: 530px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.nav__menu ul li{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;

    letter-spacing: 0.1875rem;
    padding: 0 18px 0;
    transition: 0.5s;
}
.nav__menu ul li:hover{

}
.nav__menu ul li a{
    text-decoration: none;
    color: #A5A5A5;
    width: 105px ;
    height: 67px;
    border-bottom: 4px solid transparent;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__menu ul li a:hover{
    color: black;
    border-color: #08A6E4;
}

.open__section{
    width: 100%;
    margin-top: 130px;
    display: flex;
}
.open__section .wrapper{
    display: flex;
    flex-direction: column;
}
.open__header{
    display: flex;
}
.open__header h2{
    width: 100%;
    font-family: 'Raleway',sans-serif;
    font-size: 49px;
    display: flex;
    justify-content: center;
}
.open__text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.open__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
}
.open__button button{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 40px;
    border: none;
    background: #08A6E4;
    width: 440px;
    height: 67px;
    color: white;
}
.open__background{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
.open__background img{
    width: 100%;
}

.popular_section{
    display: flex;
    width: 100%;
}
.popular_section .wrapper{
    display: flex;
    flex-direction: column;
}
.popular__header{
    display: flex;
    flex-direction: column;
}
.popular__header_1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    /*margin-bottom: 101px;*/
    font-family: Raleway, sans-serif;
    font-size: 36px;
}
.popular__box_all{
    display: flex;
    justify-content: center;

}
.popular__circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 116px;
    height: 140px;

}
.popular__first__box{
    display: flex;
    padding: 100px;

}
.popular__secound__box{
    display: flex;
    padding: 100px;

}
.popular__third__box{
    display: flex;
    padding: 100px;

}
.popular__box_all h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 19.11px;
    margin-top: 14.18px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}
.popular__box_all p1{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #A5A5A5;
    display: flex;
}

.popular__box_all br{
    display: flex;
    justify-content: center;
}
.popular__img{
    display: flex;
    width: 44px;
    height: 52px;
    left: 40px;
}